html, body {
    overflow: hidden;
    padding: 0;
    height: 100%;
    width: 100%;
    font-family: 'Lucida Grande', Geneva, Arial, Verdana, sans-serif;
}

body {
    /*margin: 10px;*/
    background: #fff;
}

:root {
    /*--family-regular: Montserrat-Regular;*/
    --family-regular: Arial;
}


.top-navbar {
    /*background-color: #000024;*/
    background-color: #000024;
    max-height: 50px !important;
    padding-left: 22px;
}

.top-navbar a {
    color: #06d2fd !important;
    font-weight: bold !important;
}

.top-navbar .dropdown-menu a {
    color: #000000 !important;
    font-weight: bold !important;
}


.container-fluid {
    padding-right: 0px !important;
    padding-left: 7px !important;
}

div#left-menu-area {
    background-color: #000024e0;
    /*background-color: #002400e0;*/
    /*max-width: 50px !important;*/
    max-height: 100% !important;
}

div#left-menu-area ul li a{
    color: whitesmoke !important;
}

ul.section-list {
    list-style: none !important;
    padding-left: 0px !important;
}

li.section-link a:hover, li.section-link a:focus,
li.section-link span:hover, li.section-link span:focus {
    color: #d7d72b !important;
    text-decoration: none !important;
}

li.section-link {
    padding-top: 12px;
}

a.section-link-text i {
    margin-right: 12px !important;
}

a.section-link-text,
span.section-link-text {
    color: #06d2fd !important;
}

body, .container-fluid, #left-menu-area, .left-menu-row {
    height: 100% !important;
}


h1 {
    margin: 0;
    padding: 6px;
    border: 0;
    font-size: 20pt;
}

#proj-select {
    height: 30px;
    width: 286px;
    padding: 0;
    background-color: #eee;
    border: 1px solid #888;
    margin-left: auto;
    margin-right: 19px;
}


#header {
    height: 43px;
    padding: 0;
    background-color: #eee;
    border: 1px solid #888;
}

#subheader {
    height: 12px;
    text-align: right;
    font-size: 10px;
    color: #555;
}

.top-navbar a {
    color: white !important;
    font-weight: bold !important;
}

.navbar-brand {
    font-size: 18px !important;
}


#left-menu-area ul li ul {
    padding-left: 20px !important;
}

#loading-block-div {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    opacity: 20%;
    z-index: 999999999999 !important;
    background-color: black;
}

#loading-block {
    position: absolute;
    top: 20px;
    left: 46%;
    z-index: 999999999;
}

#loading-block .spinner-border {
    margin-left: auto;
    margin-right: auto;
    margin-top: 10vh;

    border-top: 16px solid blue;
    border-right: 16px solid green;
    border-bottom: 16px solid red;
    border-left: 16px solid pink;
    border-radius: 50%;
    width: 120px;
    height: 120px;
    animation: spin 1s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

/*div#information, div#information-feature {*/
/*    border: 1px solid whitesmoke;*/
/*    margin-top: 10px;*/
/*}*/

